
body {
    width: 1000px;
    border-color: rgb(197, 197, 197);
    border-width: 2px;
    border-style: double;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    width: 100%;
    text-align: center;
}
