<img src="/assets/banner.png" />
<main>
  <aside class="filter">
  <div id="filterTitle">Filters: <div id="clearFilters" (click)="clearFilters()">(clear)</div></div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Merchants</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div id="merchantFilter" *ngFor="let merchant of merchants">
        <input type="radio" name="filter" [value]="merchant" id="merchant" [(ngModel)]="merchantFilter" /><label [for]="merchant">{{merchant}}</label>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
  <mat-expansion-panel-header>Brands</mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div id="brandFilter" *ngFor="let brand of brands">
      <input type="radio" name="filter" [value]="brand" id="brand" [(ngModel)]="brandFilter" /><label [for]="brand">{{brand}}</label>
    </div>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>Categories</mat-expansion-panel-header>
<ng-template matExpansionPanelContent>
  <div id="categoryFilter" *ngFor="let category of categories">
    <input type="radio" name="filter" [value]="category" id="category" [(ngModel)]="categoryFilter" /><label [for]="category">{{category}}</label>
  </div>
</ng-template>
</mat-expansion-panel>
</aside>

  <section id="products">
    <app-product *ngFor="let product of filteredProducts" [product]="product"></app-product>    
  </section>
</main>
