span {
  margin-left: 20px;
  font-size: .8em;
  background-color: rgb(29, 176, 249);
  color: white;
  padding: 3px 7px 3px 7px;
  border-radius: 7px;  
  transition: opacity 2s;
  transition-delay: 1s;
}