<header>
  <div id="logo">
    <img src="/assets/ggs.png" />
  </div>
  
  <nav>
    <a [routerLink]="['shop']">Shop</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a [routerLink]="['about']">About</a>
  </nav>

  <div id="search">
    <mat-form-field>
      <input id="txtSearch" matInput type="text" placeholder="Search product" [formControl]="txtSearch" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>                   
      </mat-autocomplete>
    </mat-form-field>
  </div>
</header>

<router-outlet />

<footer>
  &copy; 2025 GigaGarageSale. All rights reserved.
</footer>
