
header {
  display: flex;
  background-color: rgb(221, 221, 221);
}

#logo {
  padding: 5px;
}

#logo img {
  height: 100px;
}

nav {
  width: 200px;
  padding-left: 140px;
  padding-top: 45px;
  font-size: 1.4em;
}

#search {
  padding-top: 25px;
  padding-left: 200px;
}


#search input {
  font-size: .9em;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 4px 3px 3px 33px;
  background-image: url('/assets/search.png');
  background-repeat: no-repeat;
}

.autocomplete {
  background-color: white;
  font-size: .9em;
}

.mat-mdc-autocomplete-panel {
  background-color: white;
}

mat-option:hover {
  text-decoration: underline;
}
